/*old colour schemes
    background-color: #00BBF9;
        background-color: #f9c80e;
            background-color: #d9d9d9;
    */

html, body {
    font-family: 'Nunito', sans-serif;
    background: rgb(32,159,88);
    background: linear-gradient(90deg, #FFC8DD 29%, #BDE0FE 100%);
}


.container-fluid {
    height: 100%;
    background: rgb(32,159,88);
    background: linear-gradient(90deg, #FFC8DD 29%, #BDE0FE 100%);
    padding-bottom: 3vh;
}

.warning {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 0%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding-left: 20vw;
}


.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #CDB4DB;
    /*background: rgb(20,107,58);
    background: linear-gradient(90deg, rgba(20,107,58,1) 29%, rgba(234,70,48,1) 100%);*/
    color: white;
    font-family: 'The Girl Next Door', cursive;
    padding-left: 8.5vw;
    padding-right: 8.5vw;

}

.navContact {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.buttonBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'The Girl Next Door', cursive;
    font-size: 50px;
    margin: 1%;
}

button {
    transition: 500ms ease;
    background: none;
    font: inherit;
    color: black;
    padding: none;
    margin: 50px auto;
    border: none;
    outline: none;
}

@media (max-width: 440px) {
    .button {
        font-size: 3rem;
    }
}

button:hover {
    transition: 300ms ease;
    color: white;
    outline: none;
}

.homeBar {
    padding-left: 5vw;
    /*background-color: #f9c80e;
    -webkit-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);*/
    font-family: 'Nunito', sans-serif;
    justify-content: center;
    text-align: center;
}

.aboutBar {
    padding-left: 5vw;
    background-color: #BDE0FE;
    -webkit-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    font-family: 'Nunito', sans-serif;
}

.banner {
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: center;
    -webkit-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
  }

.pricesBar {
    height: 50%;
    max-height: 730px;
    width: 100%;
    padding-left: 5vw;
    background-color: transparent;
    font-family: 'Nunito', sans-serif;
}



.price1 {
    background-color: #ffffff;
    padding: 0 5px 0 5px;
}
.price2 {
    background-color: #f2f2f2;
    padding: 0 5px 0 5px;
}
.price3 {
    background-color: #d9d9d9;
    padding: 0 5px 0 5px;
}

.priceInfo {
    position: relative;
}



.item {
    padding: none;
    text-align: center;
}

.form {
    display: flex;
    background-color: white;
    width: 80vw;
    height: auto;
    margin: auto;
    -webkit-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
}

@media screen and (max-size: 420px) {
    .form {
    background-color: white;
    width: 100%;
    margin: auto;
    -webkit-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
}
}

input {
    width: 100%
}

.message {
    width: 100%;
    height: 10vh;

}

.submit {
    font-size: 5rem;
    max-width: 50%;
    background-color: #f9c80e;
    margin-bottom: 3vh;
    margin-top: 3vh;
}


.galleryBar {
    background-color: #f9c80e;
    -webkit-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    font-family: 'Nunito', sans-serif;
    padding-bottom: 10vh;
}

.rowImg {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10vw;
}

img {
    max-width: 25vw;
}

.bannerImg {
    max-width: 35vw;
    margin: 1vw;
    -webkit-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
}

@media screen and (max-width: 800px) {
    .bannerImg {
        max-width: 80vw;
        margin: 1vw;
        -webkit-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
        box-shadow: 20px 20px 22px 1px rgba(0,0,0,0.75);
    }
}

.columnImg {
    flex: 15%;
    max-width: 25%;
    flex-wrap: wrap;
    padding: 0 4px;
}


.columnImg img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
  }

.columnImg img:hover {
    transform: scale(1.3);

}

@media screen and (max-width: 800px) {
    .columnImg {
      flex: 50%;
      max-width: 50%;
    }
  }
  

  @media screen and (max-width: 600px) {
    .columnImg {
      flex: 100%;
      max-width: 100%;
    }

i {
    font-size: 15vh;
}

.fas {
    font-size: 4vh;
}







